a, p, h1, h2, h3, h4, h5, h6, button, label, span, input {
    margin: 0;
}

h1 {
    font-weight: bold;
}

html {
    background-color: #fff;
}

body {
    margin: 0;
}

body a {
    text-decoration: none;
    color: $primary-leleblue;
}