@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,400i,600,700,800');

// Font styles
$font-family: 'Open Sans', Calibri, Candara, Segoe, Segoe UI, Arial, sans-serif;
$font-jumbo: 64px;
$font-x-large: 40px;
$font-large: 34px;
$font-medium: 21px;
$font-small: 16px;
$font-x-small: 12px;

* {
    font-family: $font-family !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}