// App Colors
$primary-leleblue: #0071E3; 
$primary-error: #cd3d64;

// Linear gradients

$linear-stripe: -webkit-linear-gradient(-70deg,#16B5BF 0%,#7A6FF2 100%);
$linear-github: -webkit-linear-gradient(-70deg,#9867f0 0%,#ed4e50 100%);
$linear-pinky-purple: linear-gradient(84deg, rgba(241,100,94,1) 0%, rgba(250,93,138,1) 26%, rgba(245,63,227,1) 57%, rgba(196,115,254,1) 77%, rgba(122,55,210,1) 100%);
$linear-fire: linear-gradient(90deg,#ED186A,#FF6700,#FFCB39);