// App Colors
$primary-leleblue: #0071E3; 
$primary-error: #cd3d64;

// Linear gradients

$linear-stripe: -webkit-linear-gradient(-70deg,#16B5BF 0%,#7A6FF2 100%);
$linear-github: -webkit-linear-gradient(-70deg,#9867f0 0%,#ed4e50 100%);