footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 40px 0;

    .c-Footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        color: white;

        &__Logo {}

        &__Links {
            padding-top: 10px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                color: white;
                font-weight: 600;
            }

            p {
                padding: 0 20px;
                font-weight: 600;
            }
        }

        &__Copyright {
            p {
                font-size: $font-x-small;
                letter-spacing: 1px;
            }
        }
    }
}