.l-Sub-header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
    color: black;
    z-index: 99998;
    border-bottom: thin solid #00000029;

    .c-Sub-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 70%;

        &__Name {
            flex: 1;
            h1 {
                font-size: $font-medium;
                font-weight: 700;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.7;
                }
            }
        }

        &__Links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex: 1;
            font-weight: 600;
            p {
                color: black;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            
                &:active {
                    opacity: 0.7;
                }
            }
        }
    }
}