.c-Forgot-password {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-perspective: 800px;
    perspective: 800px;

    &__Card {
        &--smh {
            @include smhAnimation;
        }

        box-shadow: #3c425714 0px 15px 35px 0px,
        rgba(0, 0, 0, 0.12) 0px 5px 15px 0px;
        // max-width: 500px;
        min-width: 450px;
        max-width: 450px;
        margin: 100px 0;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        z-index: 99;
        background-color: white;
        border-radius: 5px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.95);

        @media (max-width: 550px) {
            min-width: 320px;
            max-width: 320px;
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85%;
            flex-direction: column;

            .c-Forgot-password__Card-img {
                margin-bottom: 20px;
                margin-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                padding-bottom: 20px;
            }

            .c-TextField {
                padding-bottom: 10px;
            }

            .c-Forgot-password__Card-generic-error {
                p {
                    color: $primary-error;
                    font-weight: 600;
                    font-size: 14px;
                }
                padding-bottom: 15px;
            }

            a {
                margin-right: auto;
            }

            button {
                width: 100%;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .c-Forgot-password__Login {
                display: flex;
                flex-direction: row;

                p {
                    padding-right: 2.5px;
                    padding-bottom: 0;
                }

                a {
                    padding-left: 2.5px;
                    font-weight: 600;
                }
            }
        }
    }

    &__Footer {
        p {
            font-size: $font-x-small;
            letter-spacing: 1px;
            font-weight: 600;
            color: #697386;
        }
    }
}