.c-Gallery {
    min-height: calc(100vh - 60px);

    &__Top {
        width: 100%;
        min-height: 200px;
        background-image: url("../../images/Gallery-BG.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // background-attachment: fixed;
        .c-Gallery__Breadcrumb {
            padding-top: 20px;
            width: 70%;
            margin: auto;
        }
    }

    &__Search {
        width: 100%;
    }

    &__Projects {
        width: 100%;
        padding: 30px 0;

        .c-Projects {
            width: 70%;
            margin: auto;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 50px;
        }

    }
}