.c-Home {
    width: 100%;

    &__Greetings {
        min-height: calc(100vh - 60vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 50;
        padding: 150px 0;
        &-text {
            max-width: 350px;
            text-align: center;
            z-index: 50;

            h1 {
                z-index: 50;
                background: $linear-stripe;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                text-align: center;
                font-weight: bold;
                font-size: $font-jumbo;
                letter-spacing: 1.6px;
            }
            p {
                z-index: 50;
                font-size: $font-small;
                font-weight: bold;
                letter-spacing: 1px;
            }
            a {
                z-index: 50;
                font-weight: bold;
            }
        }
    }

    .c-Home__Gradient {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 0;
        span {
            display: block;
            z-index: 0;
            background: linear-gradient(-45deg, #0071E3, #ED4E50, #9867F0, #7A6FF2, #B92020);
            background-size: 400% 400%;
            height: 170px;
            width: 100%;
            animation: gradient 10s ease infinite;
            transform: matrix(1, -0.07, 0, 1, 0, 0);
            transform-origin: 0px 250px;
        }


    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    &__Sign-up-ad {
        padding: 30px 0;
        .c-Sign-up-ad {
            width: 70%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__Left {
                h1 {
                    font-weight: bold;
                    font-size: $font-large;
                    letter-spacing: 1.6px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: $font-small;
                    font-weight: 600;
                    color: #5C5C5C;
                    letter-spacing: 1px;
                    margin-top: 10px;
                }
                button {
                    margin-top: 20px;
                }
            }

            &__Right {
                .c-Mobile {
                    &__Header {
                        border-radius: 25px 25px 0 0;
                        background-color: black;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 20px;
                        padding-top: 25px;
                        -webkit-backdrop-filter: saturate(180%) blur(20px);
                        backdrop-filter: saturate(180%) blur(20px);
                        h1 {
                            font-size: $font-medium;
                            color: white;
                            letter-spacing: 1px;
                        }
                    }

                    &__Sub-header {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 20px;
                        -webkit-backdrop-filter: saturate(180%) blur(20px);
                        backdrop-filter: saturate(180%) blur(20px);
                        background-color: rgba(255, 255, 255, 0.72);
                        border-bottom: thin solid #00000029;
                        h2 {
                            font-size: $font-small;
                            font-weight: bold;
                        }
                    }

                    &__Breadcrumb {
                        width: 100%;
                        padding: 15px 20px;
                        li {
                            font-size: $font-x-small;
                            a {
                                font-size: $font-x-small;
                            }
                        }
                    }


                    &__Demo {
                        display: flex;
                        flex-direction: column;
                        padding: 15px 20px;
                        padding-top: 0;
                        height: 100%;
                        .c-Demo {
                     
                            &__Dates {
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                margin-bottom: 20px;
                                p {
                                    font-size: $font-x-small;
                                    color: #7E7E7E;
                                }
                            }

                            &__Color-default {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                h1 {
                                    font-size: $font-small;
                                }
                            }


                            &__Colors {
                                display: flex;
                                height: 100%;
                                width: 100%;
                                flex-direction: column;

                                span {
                                    width: 100%;
                                    height: 60px;
                                    display: flex;
                                    background-color: #00000029;
                                    justify-content: center;
                                    align-items: center;
                                    color: white;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                    
                                    &:first-of-type {
                                        border-radius: 5px 5px 0 0;
                                        background-color: #4E4187;
                                    }

                                    &:nth-of-type(2) {
                                        background-color: #3083DC;
                                    }

                                    &:nth-of-type(3) {
                                        background-color: #F8FFE5;
                                        color: black;
                                    }

                                    &:last-of-type {
                                        border-radius: 0 0 5px 5px;
                                        background-color: #7DDE92;
                                        color: black;
                                    }
                                }
                            }

                            &__Btns {
                                width: 100%;
                                button {
                                    width: 100%;
                                    margin: 20px 0;
                                    animation: btnPress 3s cubic-bezier(0.73, 0.06, 0.52, 0.96) infinite;

                                    @keyframes btnPress {
                                        0% {
                                            opacity: 1;
                                        }
                                        50% {
                                            opacity: 0.8;
                                            transform: translateY(3px);
                                            box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
                                        }
                                        60% {
                                            opacity: 0.7;
                                            transform: translateY(0px);
                                        }
                                        70% {
                                            opacity: 1;
                                        }
                                        100% {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }
    }

}