.c-Login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__Card {
        box-shadow: #3c425714 0px 15px 35px 0px, rgba(0, 0, 0, 0.12) 0px 5px;
        // max-width: 500px;
        min-width: 500px;
        margin: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            flex-direction: column;

            h1 {
                font-size: $font-large;
                font-weight: bolder;
                padding-bottom: 10px;
            }

            .c-TextField {
                padding-bottom: 10px;
            }

            a {
                margin-right: auto;
            }

            button {
                width: 100%;
                margin: 20px 0;
            }

            .c-Login__Sign-up {
                display: flex;
                flex-direction: row;
                p {
                    padding-right: 2.5px;
                    padding-bottom: 0;
                }
                a {
                    padding-left: 2.5px;
                    font-weight: bold;
                }
            }
        }
    }
}