.c-Sandbox {

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .c-Parent {
        background-color: red;
        pointer-events: none;

        .c-Child {
            background-color: green;
            pointer-events: auto;
        }

        &:hover {
            background-color: blue;
        }
    }
}