.c-Sign-up {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-perspective: 800px;
    perspective: 800px;

    &__Card {

        &--smh {
            @-moz-keyframes panelShakeAnimation {
                0% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }

                12.5% {
                    -webkit-transform: translateX(-6px) rotateY(-5deg);
                    -moz-transform: translateX(-6px) rotateY(-5deg);
                    -ms-transform: translateX(-6px) rotateY(-5deg);
                    -o-transform: translateX(-6px) rotateY(-5deg);
                    transform: translateX(-6px) rotateY(-5deg)
                }

                37.5% {
                    -webkit-transform: translateX(5px) rotateY(4deg);
                    -moz-transform: translateX(5px) rotateY(4deg);
                    -ms-transform: translateX(5px) rotateY(4deg);
                    -o-transform: translateX(5px) rotateY(4deg);
                    transform: translateX(5px) rotateY(4deg)
                }

                62.5% {
                    -webkit-transform: translateX(-3px) rotateY(-2deg);
                    -moz-transform: translateX(-3px) rotateY(-2deg);
                    -ms-transform: translateX(-3px) rotateY(-2deg);
                    -o-transform: translateX(-3px) rotateY(-2deg);
                    transform: translateX(-3px) rotateY(-2deg)
                }

                87.5% {
                    -webkit-transform: translateX(2px) rotateY(1deg);
                    -moz-transform: translateX(2px) rotateY(1deg);
                    -ms-transform: translateX(2px) rotateY(1deg);
                    -o-transform: translateX(2px) rotateY(1deg);
                    transform: translateX(2px) rotateY(1deg)
                }

                100% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }
            }

            @-webkit-keyframes panelShakeAnimation {
                0% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }

                12.5% {
                    -webkit-transform: translateX(-6px) rotateY(-5deg);
                    -moz-transform: translateX(-6px) rotateY(-5deg);
                    -ms-transform: translateX(-6px) rotateY(-5deg);
                    -o-transform: translateX(-6px) rotateY(-5deg);
                    transform: translateX(-6px) rotateY(-5deg)
                }

                37.5% {
                    -webkit-transform: translateX(5px) rotateY(4deg);
                    -moz-transform: translateX(5px) rotateY(4deg);
                    -ms-transform: translateX(5px) rotateY(4deg);
                    -o-transform: translateX(5px) rotateY(4deg);
                    transform: translateX(5px) rotateY(4deg)
                }

                62.5% {
                    -webkit-transform: translateX(-3px) rotateY(-2deg);
                    -moz-transform: translateX(-3px) rotateY(-2deg);
                    -ms-transform: translateX(-3px) rotateY(-2deg);
                    -o-transform: translateX(-3px) rotateY(-2deg);
                    transform: translateX(-3px) rotateY(-2deg)
                }

                87.5% {
                    -webkit-transform: translateX(2px) rotateY(1deg);
                    -moz-transform: translateX(2px) rotateY(1deg);
                    -ms-transform: translateX(2px) rotateY(1deg);
                    -o-transform: translateX(2px) rotateY(1deg);
                    transform: translateX(2px) rotateY(1deg)
                }

                100% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }
            }

            @-o-keyframes panelShakeAnimation {
                0% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }

                12.5% {
                    -webkit-transform: translateX(-6px) rotateY(-5deg);
                    -moz-transform: translateX(-6px) rotateY(-5deg);
                    -ms-transform: translateX(-6px) rotateY(-5deg);
                    -o-transform: translateX(-6px) rotateY(-5deg);
                    transform: translateX(-6px) rotateY(-5deg)
                }

                37.5% {
                    -webkit-transform: translateX(5px) rotateY(4deg);
                    -moz-transform: translateX(5px) rotateY(4deg);
                    -ms-transform: translateX(5px) rotateY(4deg);
                    -o-transform: translateX(5px) rotateY(4deg);
                    transform: translateX(5px) rotateY(4deg)
                }

                62.5% {
                    -webkit-transform: translateX(-3px) rotateY(-2deg);
                    -moz-transform: translateX(-3px) rotateY(-2deg);
                    -ms-transform: translateX(-3px) rotateY(-2deg);
                    -o-transform: translateX(-3px) rotateY(-2deg);
                    transform: translateX(-3px) rotateY(-2deg)
                }

                87.5% {
                    -webkit-transform: translateX(2px) rotateY(1deg);
                    -moz-transform: translateX(2px) rotateY(1deg);
                    -ms-transform: translateX(2px) rotateY(1deg);
                    -o-transform: translateX(2px) rotateY(1deg);
                    transform: translateX(2px) rotateY(1deg)
                }

                100% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }
            }

            @-ms-keyframes panelShakeAnimation {
                0% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }

                12.5% {
                    -webkit-transform: translateX(-6px) rotateY(-5deg);
                    -moz-transform: translateX(-6px) rotateY(-5deg);
                    -ms-transform: translateX(-6px) rotateY(-5deg);
                    -o-transform: translateX(-6px) rotateY(-5deg);
                    transform: translateX(-6px) rotateY(-5deg)
                }

                37.5% {
                    -webkit-transform: translateX(5px) rotateY(4deg);
                    -moz-transform: translateX(5px) rotateY(4deg);
                    -ms-transform: translateX(5px) rotateY(4deg);
                    -o-transform: translateX(5px) rotateY(4deg);
                    transform: translateX(5px) rotateY(4deg)
                }

                62.5% {
                    -webkit-transform: translateX(-3px) rotateY(-2deg);
                    -moz-transform: translateX(-3px) rotateY(-2deg);
                    -ms-transform: translateX(-3px) rotateY(-2deg);
                    -o-transform: translateX(-3px) rotateY(-2deg);
                    transform: translateX(-3px) rotateY(-2deg)
                }

                87.5% {
                    -webkit-transform: translateX(2px) rotateY(1deg);
                    -moz-transform: translateX(2px) rotateY(1deg);
                    -ms-transform: translateX(2px) rotateY(1deg);
                    -o-transform: translateX(2px) rotateY(1deg);
                    transform: translateX(2px) rotateY(1deg)
                }

                100% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }
            }

            @keyframes panelShakeAnimation {
                0% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }

                12.5% {
                    -webkit-transform: translateX(-6px) rotateY(-5deg);
                    -moz-transform: translateX(-6px) rotateY(-5deg);
                    -ms-transform: translateX(-6px) rotateY(-5deg);
                    -o-transform: translateX(-6px) rotateY(-5deg);
                    transform: translateX(-6px) rotateY(-5deg)
                }

                37.5% {
                    -webkit-transform: translateX(5px) rotateY(4deg);
                    -moz-transform: translateX(5px) rotateY(4deg);
                    -ms-transform: translateX(5px) rotateY(4deg);
                    -o-transform: translateX(5px) rotateY(4deg);
                    transform: translateX(5px) rotateY(4deg)
                }

                62.5% {
                    -webkit-transform: translateX(-3px) rotateY(-2deg);
                    -moz-transform: translateX(-3px) rotateY(-2deg);
                    -ms-transform: translateX(-3px) rotateY(-2deg);
                    -o-transform: translateX(-3px) rotateY(-2deg);
                    transform: translateX(-3px) rotateY(-2deg)
                }

                87.5% {
                    -webkit-transform: translateX(2px) rotateY(1deg);
                    -moz-transform: translateX(2px) rotateY(1deg);
                    -ms-transform: translateX(2px) rotateY(1deg);
                    -o-transform: translateX(2px) rotateY(1deg);
                    transform: translateX(2px) rotateY(1deg)
                }

                100% {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0)
                }
            }

            -webkit-animation-duration: 400ms;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-name: panelShakeAnimation;
            -moz-animation-duration: 400ms;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-name: panelShakeAnimation;
        }


        box-shadow: #3c425714 0px 15px 35px 0px,
        rgba(0, 0, 0, 0.12) 0px 5px 15px 0px;
        // max-width: 500px;
        min-width: 450px;
        margin: 100px 0;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        z-index: 99;
        background-color: white;
        border-radius: 5px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.95);

        .c-Sign-up__Success {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85%;
            flex-direction: column;

            span {
                background-color: #1ea672;
                opacity: 0.7;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: 24px;
                    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;

                    @keyframes scale {

                        0%,
                        100% {
                            transform: none;
                        }

                        50% {
                            transform: scale3d(1.1, 1.1, 1);
                        }
                    }

                    @keyframes checkmark {
                        from {
                            stroke-dashoffset: 26px;
                        }

                        to {
                            stroke-dashoffset: 0;
                        }
                    }

                    @keyframes fill {
                        100% {
                            box-shadow: inset 0px 0px 0px 30px #1ea672;
                            opacity: 1;
                        }
                    }

                    path {
                        stroke-dasharray: 26px;
                        stroke-dashoffset: 26px;
                        animation: checkmark 150ms 1 300ms;
                        animation-timing-function: ease-in;
                        animation-fill-mode: both;

                    }
                }
            }

            h1 {
                font-size: $font-small;
                font-weight: bold;
                margin-bottom: 10px;
                letter-spacing: 1px;
            }

            p {
                font-size: $font-small;
            }

            a {
                color: $primary-leleblue;
                font-weight: bold;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85%;
            flex-direction: column;

            .c-Sign-up__Card-img {
                margin-bottom: 20px;
                margin-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .c-TextField {
                padding-bottom: 10px;
            }


            .c-Sign-up__Card-generic-error {
                p {
                    color: $primary-error;
                    font-weight: bold;
                    font-size: 14px;
                }

                padding-bottom: 15px;
            }

            a {
                margin-right: auto;
            }

            button {
                width: 100%;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .c-Sign-up__Login {
                display: flex;
                flex-direction: row;

                p {
                    padding-right: 2.5px;
                    padding-bottom: 0;
                }

                a {
                    padding-left: 2.5px;
                    font-weight: bold;
                }
            }
        }
    }

    &__Footer {
        p {
            font-size: $font-x-small;
            letter-spacing: 1px;
            font-weight: 600;
            color: #697386;
        }
    }
}