.c-Btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 23px;
    height: fit-content;
    white-space: nowrap;
    outline: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &--arrow {
        .c-Btn__Arrow {
            overflow: visible;
            margin-left: 5px;
            width: 8px;
        }

        .c-Btn__Arrow-head {
            transform: translateX(0);
            transition: transform 150ms ease-in-out;
        }

        .c-Btn__Arrow-body {
            opacity: 0;
            transform: scaleX(1);
            transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
        }

        &:hover {
            .c-Btn__Arrow-head {
                transform: translateX(3px);
            }

            .c-Btn__Arrow-body {
                opacity: 1;
                transform: scaleX(2);
            }
        }
    }

    &__Black {
        background-color: black;
        color: white;
    }

    &__White {
        background-color: white;
        color: black;
    }

    &__Primary {
        background-color: $primary-leleblue;
        color: white;
    }

    &__Danger-outline {
        color: #DC3545;
        background-color: transparent;
        border: thin solid #DC3545;
        box-shadow: none;
        opacity: 1;

        &:hover,
        &:active {
            color: white;
            opacity: 1;
            background-color: #DC3545;
            border: 1px solid #DC3545;
        }
    }

    &__Danger {
        color: white;
        background-color: #DC3545;
        box-shadow: none;
        opacity: 1;
    }

    &__Empty {
        background-color: white;
        color: black;
        padding: 0;

        &:hover,
        &:active {
            box-shadow: none !important;
        }
    }

    &:hover {
        opacity: 0.8;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &:active {
        opacity: 0.7;
        transform: translateY(0px);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

}