.l-Iphone-frame {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    .c-Iphone-frame {

        position: relative;
        margin: 40px auto;
        max-width: 290px;
        max-height: 568px;
        // background-color: #7371ee;
        // background-image: linear-gradient(60deg, #7371ee 1%, #a1d9d6 100%);
        border-radius: 40px;
        // border: 11px solid #1f1f1f;
        box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        // home button indicator
        &:after {
            bottom: 7px;
            width: 140px;
            height: 4px;
            background-color: #484848;
            border-radius: 10px;
        }

        // frontal camera/speaker frame
        &:before {
            top: -1px;
            width: 56%;
            height: 30px;
            background-color: #1f1f1f;
            border-radius: 0px 0px 40px 40px;
            z-index: 99;
        }

        &__Speaker,
        &__Camera {
            position: absolute;
            display: block;
            color: transparent;
            z-index: 99;
        }

        // speaker
        &__Speaker {
            top: 0px;
            left: 50%;
            transform: translate(-50%, 6px);
            height: 8px;
            width: 15%;
            background-color: #101010;
            border-radius: 8px;
            box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
        }

        // camera
        &__Camera {
            left: 10%;
            top: 0px;
            transform: translate(150px, 4px);
            width: 12px;
            height: 12px;
            background-color: #101010;
            border-radius: 12px;
            box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);

            &:after {
                content: '';
                position: absolute;
                background-color: #2d4d76;
                width: 6px;
                height: 6px;
                top: 2px;
                left: 2px;
                top: 3px;
                left: 3px;
                display: block;
                border-radius: 4px;
                box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
            }
        }

    }
}