.c-Teaser {
    height: 300px;
    width: 100%;
    padding: 90px 100px 80px;
    border-radius: 5px;

    @media (max-width: 1200px) {
        padding: 40px 30px;
    }

    &--light-blue {
        background-color: #E9FBFF;
        color: #0065B1;
    }

    &--calculator {
        background-color: #E9FBFF;
        background-image: url(../../images/Teaser-Calculator.png);
        background-position: 90% 100%;
        background-repeat: no-repeat;

        @media (max-width: 900px) {
            background-size: 300px;
            background-position: 50% 140px !important;
        }
    }


    @media (max-width: 1200px) {
        background-position: 50% 90px;
    }

    &__Info {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items:  flex-start;

        @media (max-width: 1200px) {
            justify-content: flex-start;
            align-items: center;
        }

        h1 {
            text-align: start;
            margin: 0 !important;
        }

        p {
            font-weight: bold;
        }
    }

    &:hover {
        transition: all 0.2s ease 0s, transform 200ms ease 0s;
        transform: scaleX(0.95) scaleY(0.95);
    }

    &:active {
        transition: all 0.2s ease 0s, transform 200ms ease 0s;
        transform: scaleX(0.90) scaleY(0.90);
    }
}