.c-TextField {
    width: 100%;
    label {
        font-size: $font-small;
        font-weight: bold;
    }
    input {
        border: thin solid #cfcfcf;
        background-color: white;
        width: 100%;
        outline: none;
        padding: 10px 13px;
        border-radius: 5px;
        margin-top: 5px;
        letter-spacing: 0.75px;
    
        &::placeholder {
            color: #9D9D9D;
            font-weight: bold;
        }

        &:active, &:focus {
            border: thin solid transparent;
            box-shadow:  rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
            rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
        }
    }

    &__Error {
        padding: 5px 0;
        color: red;
    }
}